<section class="jobs p-5">

    <div class="row">
        <!---->
        <div class="col-lg-3 col-md-6 ">
            <div class="jobsInfo p-3">
            <img class="m-2" src="../../assets/2.jpg"/>
            
            <p class="py-2">United states</p>
            <span class="py-2">Creative Director</span>
            <p style="color: royalblue" class="py-2">Hello Design</p>
            <p class="pb-3">Hello Design is looking for a Creative Director make the future with us. You have the vision, confidence and leadership to produce work that matters. We need a hands-on craftsman who cares about the details. If someone tells you it can’t be done, you work twice as hard to make it happen.</p>
            <div class="d-flex justify-content-between">
                <p>Design</p>
                <p>9 hours ago</p>
            </div>
        </div>

        </div>
        <!---->
        <!---->
        <div class="col-lg-3 col-md-6 ">
                <div class="jobsInfo p-3">
                <img class="m-2" src="../../assets/2.jpg"/>
                
                <p class="py-2">United states</p>
                <span class="py-2">Creative Director</span>
                <p style="color: royalblue" class="py-2">Hello Design</p>
                <p class="pb-3">Hello Design is looking for a Creative Director make the future with us. You have the vision, confidence and leadership to produce work that matters. We need a hands-on craftsman who cares about the details. If someone tells you it can’t be done, you work twice as hard to make it happen.</p>
                <div class="d-flex justify-content-between">
                    <p>Design</p>
                    <p>9 hours ago</p>
                </div>
            </div>
    
            </div>
            <!---->
            <!---->
        <div class="col-lg-3 col-md-6 ">
                <div class="jobsInfo p-3">
                <img class="m-2" src="../../assets/2.jpg"/>
                
                <p class="py-2">United states</p>
                <span class="py-2">Creative Director</span>
                <p style="color: royalblue" class="py-2">Hello Design</p>
                <p class="pb-3">Hello Design is looking for a Creative Director make the future with us. You have the vision, confidence and leadership to produce work that matters. We need a hands-on craftsman who cares about the details. If someone tells you it can’t be done, you work twice as hard to make it happen.</p>
                <div class="d-flex justify-content-between">
                    <p>Design</p>
                    <p>9 hours ago</p>
                </div>
            </div>
    
            </div>
            <!---->
            <!---->
        <div class="col-lg-3 col-md-6 ">
                <div class="jobsInfo p-3">
                <img class="m-2" src="../../assets/2.jpg"/>
                
                <p class="py-2">United states</p>
                <span class="py-2">Creative Director</span>
                <p style="color: royalblue" class="py-2">Hello Design</p>
                <p class="pb-3">Hello Design is looking for a Creative Director make the future with us. You have the vision, confidence and leadership to produce work that matters. We need a hands-on craftsman who cares about the details. If someone tells you it can’t be done, you work twice as hard to make it happen.</p>
                <div class="d-flex justify-content-between">
                    <p>Design</p>
                    <p>9 hours ago</p>
                </div>
            </div>
    
            </div>
            <!---->
            <!---->
        <div class="col-lg-3 col-md-6 ">
                <div class="jobsInfo p-3">
                <img class="m-2" src="../../assets/2.jpg"/>
                
                <p class="py-2">United states</p>
                <span class="py-2">Creative Director</span>
                <p style="color: royalblue" class="py-2">Hello Design</p>
                <p class="pb-3">Hello Design is looking for a Creative Director make the future with us. You have the vision, confidence and leadership to produce work that matters. We need a hands-on craftsman who cares about the details. If someone tells you it can’t be done, you work twice as hard to make it happen.</p>
                <div class="d-flex justify-content-between">
                    <p>Design</p>
                    <p>9 hours ago</p>
                </div>
            </div>
    
            </div>
            <!---->
            <!---->
            <div class="col-lg-3 col-md-6 ">
                    <div class="jobsInfo p-3">
                    <img class="m-2" src="../../assets/2.jpg"/>
                    
                    <p class="py-2">United states</p>
                    <span class="py-2">Creative Director</span>
                    <p style="color: royalblue" class="py-2">Hello Design</p>
                    <p class="pb-3">Hello Design is looking for a Creative Director make the future with us. You have the vision, confidence and leadership to produce work that matters. We need a hands-on craftsman who cares about the details. If someone tells you it can’t be done, you work twice as hard to make it happen.</p>
                    <div class="d-flex justify-content-between">
                        <p>Design</p>
                        <p>9 hours ago</p>
                    </div>
                </div>
        
                </div>
                <!---->
                <!---->
            <div class="col-lg-3 col-md-6 ">
                    <div class="jobsInfo p-3">
                    <img class="m-2" src="../../assets/2.jpg"/>
                    
                    <p class="py-2">United states</p>
                    <span class="py-2">Creative Director</span>
                    <p style="color: royalblue" class="py-2">Hello Design</p>
                    <p class="pb-3">Hello Design is looking for a Creative Director make the future with us. You have the vision, confidence and leadership to produce work that matters. We need a hands-on craftsman who cares about the details. If someone tells you it can’t be done, you work twice as hard to make it happen.</p>
                    <div class="d-flex justify-content-between">
                        <p>Design</p>
                        <p>9 hours ago</p>
                    </div>
                </div>
        
                </div>
                <!---->
                <!---->
            <div class="col-lg-3 col-md-6 ">
                    <div class="jobsInfo p-3">
                    <img class="m-2" src="../../assets/2.jpg"/>
                    
                    <p class="py-2">United states</p>
                    <span class="py-2">Creative Director</span>
                    <p style="color: royalblue" class="py-2">Hello Design</p>
                    <p class="pb-3">Hello Design is looking for a Creative Director make the future with us. You have the vision, confidence and leadership to produce work that matters. We need a hands-on craftsman who cares about the details. If someone tells you it can’t be done, you work twice as hard to make it happen.</p>
                    <div class="d-flex justify-content-between">
                        <p>Design</p>
                        <p>9 hours ago</p>
                    </div>
                </div>
        
                </div>
                <!---->
                <!---->
        <div class="col-lg-3 col-md-6 ">
            <div class="jobsInfo p-3">
            <img class="m-2" src="../../assets/2.jpg"/>
            
            <p class="py-2">United states</p>
            <span class="py-2">Creative Director</span>
            <p style="color: royalblue" class="py-2">Hello Design</p>
            <p class="pb-3">Hello Design is looking for a Creative Director make the future with us. You have the vision, confidence and leadership to produce work that matters. We need a hands-on craftsman who cares about the details. If someone tells you it can’t be done, you work twice as hard to make it happen.</p>
            <div class="d-flex justify-content-between">
                <p>Design</p>
                <p>9 hours ago</p>
            </div>
        </div>

        </div>
        <!---->
        <!---->
        <div class="col-lg-3 col-md-6 ">
                <div class="jobsInfo p-3">
                <img class="m-2" src="../../assets/2.jpg"/>
                
                <p class="py-2">United states</p>
                <span class="py-2">Creative Director</span>
                <p style="color: royalblue" class="py-2">Hello Design</p>
                <p class="pb-3">Hello Design is looking for a Creative Director make the future with us. You have the vision, confidence and leadership to produce work that matters. We need a hands-on craftsman who cares about the details. If someone tells you it can’t be done, you work twice as hard to make it happen.</p>
                <div class="d-flex justify-content-between">
                    <p>Design</p>
                    <p>9 hours ago</p>
                </div>
            </div>
    
            </div>
            <!---->
            <!---->
        <div class="col-lg-3 col-md-6 ">
                <div class="jobsInfo p-3">
                <img class="m-2" src="../../assets/2.jpg"/>
                
                <p class="py-2">United states</p>
                <span class="py-2">Creative Director</span>
                <p style="color: royalblue" class="py-2">Hello Design</p>
                <p class="pb-3">Hello Design is looking for a Creative Director make the future with us. You have the vision, confidence and leadership to produce work that matters. We need a hands-on craftsman who cares about the details. If someone tells you it can’t be done, you work twice as hard to make it happen.</p>
                <div class="d-flex justify-content-between">
                    <p>Design</p>
                    <p>9 hours ago</p>
                </div>
            </div>
    
            </div>
            <!---->
            <!---->
        <div class="col-lg-3 col-md-6 ">
                <div class="jobsInfo p-3">
                <img class="m-2" src="../../assets/2.jpg"/>
                
                <p class="py-2">United states</p>
                <span class="py-2">Creative Director</span>
                <p style="color: royalblue" class="py-2">Hello Design</p>
                <p class="pb-3">Hello Design is looking for a Creative Director make the future with us. You have the vision, confidence and leadership to produce work that matters. We need a hands-on craftsman who cares about the details. If someone tells you it can’t be done, you work twice as hard to make it happen.</p>
                <div class="d-flex justify-content-between">
                    <p>Design</p>
                    <p>9 hours ago</p>
                </div>
            </div>
    
            </div>
            <!---->
       

    </div>




</section>