<section class="titleHeader p-5">

    <div class="line"></div>
    <p style="font-weight: bolder ; font-size: 35px">Privacy Policy</p>
    <div class="w-50 py-3">
        <p>Confidence, like art, never comes from having all the answers it comes from being open to all the questions.</p>
    </div>

    <div class="headerImg"></div>

   
    <div class="info p-5 my-5">
            <p style="font-weight: bolder ; font-size: 18px">Privacy policy</p>
            <div class="line"></div>
            <p class="py-2">We respect the privacy of everyone who visits our site. We do not collect personal information about our users without their knowledge and prior consent. No scripts or devices are used for this purpose. In order to use certain features of our website we may ask you to register by entering some personal information. This information is given voluntarily and will be used only as stated in the paragraphs below. This information will not be given, traded or sold to any third party without the user's knowledge and prior consent. </p>

            <p class="py-2">The information provided upon registration, with the exception of your e-mail address, will be displayed on your user profile and we reserve the right to use it in other publications produced by Awwwards. By registering, you indicate your acceptance of these conditions. Further information may be provided at the user’s discretion but is not compulsory. </p>

            <p class="py-2">When you submit a website for an Awwward, you will be asked to provide some information about the project. This information will be published on our site and we reserve the right to use it in other publications produced by Awwwards. By submitting your site, you indicate your acceptance of these conditions. </p>

            <p class="py-2">We collect some information such as: 1) Pages visited, 2) Click stream data and 3) Other browsing information, for administrative purposes and to improve our website and services. </p>
            

            <p class="py-2"> Cookies: This website does not use cookies, but it does use third party technologies which use them to provide useful features and services. Cookies identify a user's computer, not the individual user. Most browsers are set to accept cookies by default. You can always set your browser to refuse cookies, but you may not be able to use all the features of our site.</p>

            <p class="py-2"> Children: Awwwards complies with the requirements of the Children's Online Privacy Protection Act. Awwwards will not knowingly accept submissions or correspondence from children under 13 years of age without written permission from their parents or legal guardians.</p>

            
    </div>


    <div class="info p-5 my-5">
            <p style="font-weight: bolder ; font-size: 18px">Personal information we collect</p>
            <div class="line"></div>
            
            <p class="py-2">In order to register on the Platform and identify yourself, we will request your email. To create your profile on the Platform you may include personal information such as your country or city of residence, a photograph, first and last names, education, work experience, and any other additional information you might want to share in your profile. The profile information helps you make the most out of our Services, like helping other professionals find you and finding business opportunities or projects you might be interested in. However, if you do not want this information to be published, you may leave the profile information fields blank or delete the information already provided.</p>

            <p class="py-2">When you visit or use our Services, We register data such as frequency of use, date and time Services were accessed, when you see or click a specific content, your content preferences. We use information when you log in, when you read our emails, and Internet protocol ("IP") addresses to identify you and register your use in the Platform.</p>

            <p class="py-2">We do not make decisions based on profiles, beyond personalization of advertisement and for the purpose of the legitimate prevention of Internet fraud.</p>

            <p class="py-2">We obtain information through other platforms, for example, when you register via Facebook or similar technologies. This might include personal texts or images available in an external website.</p>
            
    </div>



</section>