<section class="contact  p-5">

    <div>
        <p style="font-size: 18px" class="text-center">GET IN TOUCH!</p>
        <div class="line m-auto "></div>
        <p class="pt-3 text-center" style="font-weight: bolder ; font-size: 24px">We are Awwwards and we are here to serve!</p>
        <p style="font-weight: bolder ; font-size: 24px" class="text-center">How can we help you?</p>

        <div class="contactInp  d-flex justify-content-center">
            <div style="background-color: white;" class="w-75 p-5">
                <div class="form-group">
                    <label>Name</label>
                        <input class="form-control" placeholder="Enter your name" style="height: 50px" />
                    </div>
                    <label>E-mail</label>
                    <div class="form-group">
                        <input class="form-control" placeholder="Enter your E-Mail" style="height: 50px" />
                    </div>
                    <label>Website</label>
                    <div class="form-group">
                        <input class="form-control" placeholder="Enter your website URL" style="height: 50px" />
                    </div>  
                    
                    <label>Your message</label>
                    <div class="form-group">    
                        <textarea id="inputMessage" class="form-control" placeholder="Enter your message"  style="height: 150px"></textarea>
                    </div>
                    
                    <div>
                        <input  type="checkbox" />
                        <span class="px-1"> I have read and accepted the <a routerLink="contact">Terms and Conditions </a> and <a routerLink="contact">Privacy Policy</a> </span>
                    </div> 
                    <button class="btn btn-info w-100 my-3 py-2">Send</button>   
            </div>        
        </div>

    </div>

</section>