<!-- -------------------------------------NOMINEES------------------------------------------------------ -->
<div class="nominees">
    <div class="p-5">
      <span class="nomineesTitle">Nominees </span>
      <span>We need your vote!</span>
      <div class="py-4">
        <div class="row ">
          <!-- -->
          <div class="col-lg-3 col-md-6 my-2">
            <div class="nomineesImg win">
              <img class="img-fluid" src="../../assets/03-thumbnail.jpg"/>
              <div class="imgLayer">
                <button class="btn m-1">09</button>
                <button class="btn m-1">collect</button>
                <div class="clearfix"></div>
                <div class="mt-5 d-flex justify-content-center">
                    <div>
                      <button style="color: black" class="btn btn-light">VOTE</button>
                    </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="nomineesInfo win p-2">
              <a href="#">Purple, Rock, Scissors!</a>
              <div class="d-flex justify-content-between py-2">
                <p>From United States</p>
                <p>September 07, 2019</p>           
              </div>
              <div class="nomineesIco d-flex justify-content-between">
                <div class="d-flex">
                <img src="../../assets/2 (1).jpg"/>
                <p class="px-1">By <a href="#">PRPLMARK</a></p>
              </div>
              </div>
            </div>
          </div>
          <!-- -->
          <!-- -->
          <div class="col-lg-3 col-md-6 my-2">
              <div class="nomineesImg win">
                <img class="img-fluid" src="../../assets/04-thumbnail.jpg"/>
                <div class="imgLayer">
                  <button class="btn m-1">09</button>
                  <button class="btn m-1">collect</button>
                  <div class="clearfix"></div>
                  <div class="mt-5 d-flex justify-content-center">
                      <div>
                        <button style="color: black" class="btn btn-light">VOTE</button>
                      </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="nomineesInfo win p-2">
                <a href="#">Purple, Rock, Scissors!</a>
                <div class="d-flex justify-content-between py-2">
                  <p>From United States</p>
                  <p>September 07, 2019</p>           
                </div>
                <div class="nomineesIco d-flex justify-content-between">
                  <div class="d-flex">
                  <img src="../../assets/2 (1).jpg"/>
                  <p class="px-1">By <a href="#">PRPLMARK</a></p>
                </div>
                </div>
              </div>
            </div>
            <!-- -->
          <!-- -->
          <div class="col-lg-3 col-md-6 my-2">
              <div class="nomineesImg win">
                <img class="img-fluid" src="../../assets/02-thumbnail.jpg"/>
                <div class="imgLayer">
                  <button class="btn m-1">09</button>
                  <button class="btn m-1">collect</button>
                  <div class="clearfix"></div>
                  <div class="mt-5 d-flex justify-content-center">
                      <div>
                        <button style="color: black" class="btn btn-light">VOTE</button>
                      </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="nomineesInfo win p-2">
                <a href="#">Purple, Rock, Scissors!</a>
                <div class="d-flex justify-content-between py-2">
                  <p>From United States</p>
                  <p>September 07, 2019</p>           
                </div>
                <div class="nomineesIco d-flex justify-content-between">
                  <div class="d-flex">
                  <img src="../../assets/2 (1).jpg"/>
                  <p class="px-1">By <a href="#">PRPLMARK</a></p>
                </div>
                </div>
              </div>
            </div>
            <!-- -->
          <!-- -->
          <div class="col-lg-3 col-md-6 my-2">
              <div class="nomineesImg win">
                <img class="img-fluid" src="../../assets/03-thumbnail.jpg"/>
                <div class="imgLayer">
                  <button class="btn m-1">09</button>
                  <button class="btn m-1">collect</button>
                  <div class="clearfix"></div>
                  <div class="mt-5 d-flex justify-content-center">
                      <div>
                        <button style="color: black" class="btn btn-light">VOTE</button>
                      </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="nomineesInfo win p-2">
                <a href="#">Purple, Rock, Scissors!</a>
                <div class="d-flex justify-content-between py-2">
                  <p>From United States</p>
                  <p>September 07, 2019</p>           
                </div>
                <div class="nomineesIco d-flex justify-content-between">
                  <div class="d-flex">
                  <img src="../../assets/2 (1).jpg"/>
                  <p class="px-1">By <a href="#">PRPLMARK</a></p>
                </div>
                </div>
              </div>
            </div>
            <!-- -->  
          <!-- -->
          <div class="col-lg-3 col-md-6 my-2">
                <div class="nomineesImg win">
                  <img class="img-fluid" src="../../assets/03-thumbnail.jpg"/>
                  <div class="imgLayer">
                    <button class="btn m-1">09</button>
                    <button class="btn m-1">collect</button>
                    <div class="clearfix"></div>
                    <div class="mt-5 d-flex justify-content-center">
                        <div>
                          <button style="color: black" class="btn btn-light">VOTE</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="nomineesInfo win p-2">
                  <a href="#">Purple, Rock, Scissors!</a>
                  <div class="d-flex justify-content-between py-2">
                    <p>From United States</p>
                    <p>September 07, 2019</p>           
                  </div>
                  <div class="nomineesIco d-flex justify-content-between">
                    <div class="d-flex">
                    <img src="../../assets/2 (1).jpg"/>
                    <p class="px-1">By <a href="#">PRPLMARK</a></p>
                  </div>
                  </div>
                </div>
              </div>
              <!-- -->
              <!-- -->
              <div class="col-lg-3 col-md-6 my-2">
                  <div class="nomineesImg win">
                    <img class="img-fluid" src="../../assets/04-thumbnail.jpg"/>
                    <div class="imgLayer">
                      <button class="btn m-1">09</button>
                      <button class="btn m-1">collect</button>
                      <div class="clearfix"></div>
                      <div class="mt-5 d-flex justify-content-center">
                          <div>
                            <button style="color: black" class="btn btn-light">VOTE</button>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="nomineesInfo win p-2">
                    <a href="#">Purple, Rock, Scissors!</a>
                    <div class="d-flex justify-content-between py-2">
                      <p>From United States</p>
                      <p>September 07, 2019</p>           
                    </div>
                    <div class="nomineesIco d-flex justify-content-between">
                      <div class="d-flex">
                      <img src="../../assets/2 (1).jpg"/>
                      <p class="px-1">By <a href="#">PRPLMARK</a></p>
                    </div>
                    </div>
                  </div>
                </div>
                <!-- -->
              <!-- -->
              <div class="col-lg-3 col-md-6 my-2">
                  <div class="nomineesImg win">
                    <img class="img-fluid" src="../../assets/02-thumbnail.jpg"/>
                    <div class="imgLayer">
                      <button class="btn m-1">09</button>
                      <button class="btn m-1">collect</button>
                      <div class="clearfix"></div>
                      <div class="mt-5 d-flex justify-content-center">
                          <div>
                            <button style="color: black" class="btn btn-light">VOTE</button>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="nomineesInfo win p-2">
                    <a href="#">Purple, Rock, Scissors!</a>
                    <div class="d-flex justify-content-between py-2">
                      <p>From United States</p>
                      <p>September 07, 2019</p>           
                    </div>
                    <div class="nomineesIco d-flex justify-content-between">
                      <div class="d-flex">
                      <img src="../../assets/2 (1).jpg"/>
                      <p class="px-1">By <a href="#">PRPLMARK</a></p>
                    </div>
                    </div>
                  </div>
                </div>
                <!-- -->
              <!-- -->
              <div class="col-lg-3 col-md-6 my-2">
                  <div class="nomineesImg win">
                    <img class="img-fluid" src="../../assets/03-thumbnail.jpg"/>
                    <div class="imgLayer">
                      <button class="btn m-1">09</button>
                      <button class="btn m-1">collect</button>
                      <div class="clearfix"></div>
                      <div class="mt-5 d-flex justify-content-center">
                          <div>
                            <button style="color: black" class="btn btn-light">VOTE</button>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="nomineesInfo win p-2">
                    <a href="#">Purple, Rock, Scissors!</a>
                    <div class="d-flex justify-content-between py-2">
                      <p>From United States</p>
                      <p>September 07, 2019</p>           
                    </div>
                    <div class="nomineesIco d-flex justify-content-between">
                      <div class="d-flex">
                      <img src="../../assets/2 (1).jpg"/>
                      <p class="px-1">By <a href="#">PRPLMARK</a></p>
                    </div>
                    </div>
                  </div>
                </div>
                <!-- --> 
          <!-- -->
          <div class="col-lg-3 col-md-6 my-2">
                <div class="nomineesImg win">
                  <img class="img-fluid" src="../../assets/03-thumbnail.jpg"/>
                  <div class="imgLayer">
                    <button class="btn m-1">09</button>
                    <button class="btn m-1">collect</button>
                    <div class="clearfix"></div>
                    <div class="mt-5 d-flex justify-content-center">
                        <div>
                          <button style="color: black" class="btn btn-light">VOTE</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="nomineesInfo win p-2">
                  <a href="#">Purple, Rock, Scissors!</a>
                  <div class="d-flex justify-content-between py-2">
                    <p>From United States</p>
                    <p>September 07, 2019</p>           
                  </div>
                  <div class="nomineesIco d-flex justify-content-between">
                    <div class="d-flex">
                    <img src="../../assets/2 (1).jpg"/>
                    <p class="px-1">By <a href="#">PRPLMARK</a></p>
                  </div>
                  </div>
                </div>
              </div>
              <!-- -->
              <!-- -->
              <div class="col-lg-3 col-md-6 my-2">
                  <div class="nomineesImg win">
                    <img class="img-fluid" src="../../assets/04-thumbnail.jpg"/>
                    <div class="imgLayer">
                      <button class="btn m-1">09</button>
                      <button class="btn m-1">collect</button>
                      <div class="clearfix"></div>
                      <div class="mt-5 d-flex justify-content-center">
                          <div>
                            <button style="color: black" class="btn btn-light">VOTE</button>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="nomineesInfo win p-2">
                    <a href="#">Purple, Rock, Scissors!</a>
                    <div class="d-flex justify-content-between py-2">
                      <p>From United States</p>
                      <p>September 07, 2019</p>           
                    </div>
                    <div class="nomineesIco d-flex justify-content-between">
                      <div class="d-flex">
                      <img src="../../assets/2 (1).jpg"/>
                      <p class="px-1">By <a href="#">PRPLMARK</a></p>
                    </div>
                    </div>
                  </div>
                </div>
                <!-- -->
              <!-- -->
              <div class="col-lg-3 col-md-6 my-2">
                  <div class="nomineesImg win">
                    <img class="img-fluid" src="../../assets/02-thumbnail.jpg"/>
                    <div class="imgLayer">
                      <button class="btn m-1">09</button>
                      <button class="btn m-1">collect</button>
                      <div class="clearfix"></div>
                      <div class="mt-5 d-flex justify-content-center">
                          <div>
                            <button style="color: black" class="btn btn-light">VOTE</button>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="nomineesInfo win p-2">
                    <a href="#">Purple, Rock, Scissors!</a>
                    <div class="d-flex justify-content-between py-2">
                      <p>From United States</p>
                      <p>September 07, 2019</p>           
                    </div>
                    <div class="nomineesIco d-flex justify-content-between">
                      <div class="d-flex">
                      <img src="../../assets/2 (1).jpg"/>
                      <p class="px-1">By <a href="#">PRPLMARK</a></p>
                    </div>
                    </div>
                  </div>
                </div>
                <!-- -->
              <!-- -->
              <div class="col-lg-3 col-md-6 my-2">
                  <div class="nomineesImg win">
                    <img class="img-fluid" src="../../assets/03-thumbnail.jpg"/>
                    <div class="imgLayer">
                      <button class="btn m-1">09</button>
                      <button class="btn m-1">collect</button>
                      <div class="clearfix"></div>
                      <div class="mt-5 d-flex justify-content-center">
                          <div>
                            <button style="color: black" class="btn btn-light">VOTE</button>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="nomineesInfo win p-2">
                    <a href="#">Purple, Rock, Scissors!</a>
                    <div class="d-flex justify-content-between py-2">
                      <p>From United States</p>
                      <p>September 07, 2019</p>           
                    </div>
                    <div class="nomineesIco d-flex justify-content-between">
                      <div class="d-flex">
                      <img src="../../assets/2 (1).jpg"/>
                      <p class="px-1">By <a href="#">PRPLMARK</a></p>
                    </div>
                    </div>
                  </div>
                </div>
                <!-- --> 
          <!-- -->
          <div class="col-lg-3 col-md-6 my-2">
                <div class="nomineesImg win">
                  <img class="img-fluid" src="../../assets/03-thumbnail.jpg"/>
                  <div class="imgLayer">
                    <button class="btn m-1">09</button>
                    <button class="btn m-1">collect</button>
                    <div class="clearfix"></div>
                    <div class="mt-5 d-flex justify-content-center">
                        <div>
                          <button style="color: black" class="btn btn-light">VOTE</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="nomineesInfo win p-2">
                  <a href="#">Purple, Rock, Scissors!</a>
                  <div class="d-flex justify-content-between py-2">
                    <p>From United States</p>
                    <p>September 07, 2019</p>           
                  </div>
                  <div class="nomineesIco d-flex justify-content-between">
                    <div class="d-flex">
                    <img src="../../assets/2 (1).jpg"/>
                    <p class="px-1">By <a href="#">PRPLMARK</a></p>
                  </div>
                  </div>
                </div>
              </div>
              <!-- -->
              <!-- -->
              <div class="col-lg-3 col-md-6 my-2">
                  <div class="nomineesImg win">
                    <img class="img-fluid" src="../../assets/04-thumbnail.jpg"/>
                    <div class="imgLayer">
                      <button class="btn m-1">09</button>
                      <button class="btn m-1">collect</button>
                      <div class="clearfix"></div>
                      <div class="mt-5 d-flex justify-content-center">
                          <div>
                            <button style="color: black" class="btn btn-light">VOTE</button>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="nomineesInfo win p-2">
                    <a href="#">Purple, Rock, Scissors!</a>
                    <div class="d-flex justify-content-between py-2">
                      <p>From United States</p>
                      <p>September 07, 2019</p>           
                    </div>
                    <div class="nomineesIco d-flex justify-content-between">
                      <div class="d-flex">
                      <img src="../../assets/2 (1).jpg"/>
                      <p class="px-1">By <a href="#">PRPLMARK</a></p>
                    </div>
                    </div>
                  </div>
                </div>
                <!-- -->
              <!-- -->
              <div class="col-lg-3 col-md-6 my-2">
                  <div class="nomineesImg win">
                    <img class="img-fluid" src="../../assets/02-thumbnail.jpg"/>
                    <div class="imgLayer">
                      <button class="btn m-1">09</button>
                      <button class="btn m-1">collect</button>
                      <div class="clearfix"></div>
                      <div class="mt-5 d-flex justify-content-center">
                          <div>
                            <button style="color: black" class="btn btn-light">VOTE</button>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="nomineesInfo win p-2">
                    <a href="#">Purple, Rock, Scissors!</a>
                    <div class="d-flex justify-content-between py-2">
                      <p>From United States</p>
                      <p>September 07, 2019</p>           
                    </div>
                    <div class="nomineesIco d-flex justify-content-between">
                      <div class="d-flex">
                      <img src="../../assets/2 (1).jpg"/>
                      <p class="px-1">By <a href="#">PRPLMARK</a></p>
                    </div>
                    </div>
                  </div>
                </div>
                <!-- -->
              <!-- -->
              <div class="col-lg-3 col-md-6 my-2">
                  <div class="nomineesImg win">
                    <img class="img-fluid" src="../../assets/03-thumbnail.jpg"/>
                    <div class="imgLayer">
                      <button class="btn m-1">09</button>
                      <button class="btn m-1">collect</button>
                      <div class="clearfix"></div>
                      <div class="mt-5 d-flex justify-content-center">
                          <div>
                            <button style="color: black" class="btn btn-light">VOTE</button>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="nomineesInfo win p-2">
                    <a href="#">Purple, Rock, Scissors!</a>
                    <div class="d-flex justify-content-between py-2">
                      <p>From United States</p>
                      <p>September 07, 2019</p>           
                    </div>
                    <div class="nomineesIco d-flex justify-content-between">
                      <div class="d-flex">
                      <img src="../../assets/2 (1).jpg"/>
                      <p class="px-1">By <a href="#">PRPLMARK</a></p>
                    </div>
                    </div>
                  </div>
                </div>
                <!-- -->                                                                                 
        </div>
      </div>
    </div>
  </div>