<section class="homeHeader">
    <div class="homeHeaderInfo row justify-content-between">
        <div class="p-5 home1 col-md-3">
            <div class="homeDate">
                <p>Site of the day: Sept 08, 2019 </p>
            </div>  
            <div class="homeBtn">
            <a href="#"><button class="btn btn-primary mr-1" style="color: white">Viste site</button></a>
            <a href="#"><button class="btn btn-collect mr-1" style="color: white">Collect</button></a>
            </div>    
        </div>
        <div class="col-md-6 homeHeaderContent d-flex justify-content-center align-items-center">
            <div class="text-center my-3">
                <h1>Purple, Rock, Scissors!</h1>
                <p>By <a href="#">Purple, Rock, Scissors </a> from United states with 7.2</p>
                <div class="d-flex justify-content-center align-items-center">
<ul class="display-container">
<li class="note-display" data-note="7.50">
<div class="circle">
<svg width="84" height="84" class="circle__svg">
  <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--path"></circle>
  <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--fill"></circle>
</svg>

<div class="percent">
  <span class="percent__int">0.</span>
  <span class="percent__dec">00</span>
</div>
</div>

<span class="label">Design</span>
</li>

<li class="note-display" data-note="9.27">
<div class="circle">
<svg width="84" height="84" class="circle__svg">
  <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--path"></circle>
  <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--fill"></circle>
</svg>

<div class="percent">
  <span class="percent__int">0.</span>
  <span class="percent__dec">00</span>
</div>
</div>

<span class="label">Usability</span>
</li>

<li class="note-display" data-note="6.93">
<div class="circle">
<svg width="84" height="84" class="circle__svg">
  <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--path"></circle>
  <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--fill"></circle>
</svg>

<div class="percent">
  <span class="percent__int">0.</span>
  <span class="percent__dec">00</span>
</div>
</div>

<span class="label">Creativity</span>
</li>

<li class="note-display" data-note="8.72">
<div class="circle">
<svg width="84" height="84" class="circle__svg">
  <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--path"></circle>
  <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--fill"></circle>
</svg>

<div class="percent">
  <span class="percent__int">0.</span>
  <span class="percent__dec">00</span>
</div>
</div>

<span class="label">Content</span>
</li>
</ul>


                </div>
            </div>
        </div>
        <div class="p-5 col-md-3 align-items-end members">
            <div class="membersBtn d-flex">
            <a href="#"><button class="btn btn-collect mr-1" style="color: white">VOTES</button></a>
            <img src="../../assets/2 (1).jpg"/>
            <img src="../../assets/2 (3).jpg"/>
            <img src="../../assets/5 (1).jpg"/>
            <img src="../../assets/3 (5).jpg"/>
            <img src="../../assets/3 (1).jpg"/>
            </div>
        </div>
    </div>
</section>

<!-- -------------------------------------WINNERS------------------------------------------------------ -->
<div class="winners">
<div class="p-5">
<span class="winnersTitle">Sites of the day </span>
<span>Previous Winners</span>
<div class="py-4">
  <div class="row ">
    <!-- -->
    <div class="col-lg-3 col-md-6 my-2">
      <div class="winnersImg win">
        <img class="img-fluid" src="../../assets/05-thumbnail.jpg"/>
        <div class="imgLayer">
          <button class="btn m-1">09</button>
          <button class="btn m-1">collect</button>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="winnersInfo win p-2">
        <a href="#">Purple, Rock, Scissors!</a>
        <div class="d-flex justify-content-between py-2">
          <p>From United States</p>
          <p>September 07, 2019</p>           
        </div>
        <div class="winnersIco d-flex justify-content-between">
          <div class="d-flex">
          <img src="../../assets/2 (1).jpg"/>
          <p class="px-1">By <a href="#">PRPLMARK</a></p>
        </div>
          <div>
            <button class="btn btn-primary">HM</button>
            <button class="btn btn-danger">DIV</button>
            <button class="btn btn-warning">SOLD</button>
          </div>
        </div>
      </div>
    </div>
    <!-- -->
    <div class="col-lg-3 col-md-6 my-2 ">
        <div class="winnersImg win">
          <img class="img-fluid" src="../../assets/7.jpg"/>
          <div class="imgLayer">
            <button class="btn m-1">09</button>
            <button class="btn m-1">collect</button>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="winnersInfo win p-2">
          <a href="#">Purple, Rock, Scissors!</a>
          <div class="d-flex justify-content-between py-2">
            <p>From United States</p>
            <p>September 07, 2019</p>           
          </div>
          <div class="winnersIco d-flex justify-content-between">
            <div class="d-flex">
            <img src="../../assets/2 (1).jpg"/>
            <p class="px-1">By <a href="#">PRPLMARK</a></p>
          </div>
            <div>
              <button class="btn btn-primary">HM</button>
              <button class="btn btn-danger">DIV</button>
              <button class="btn btn-warning">SOLD</button>
            </div>
          </div>
        </div>
      </div>
      <!-- -->
      <div class="col-lg-3 col-md-6 my-2">
          <div class="winnersImg win">
            <img class="img-fluid" src="../../assets/05-thumbnail.jpg"/>
            <div class="imgLayer">
              <button class="btn m-1">09</button>
              <button class="btn m-1">collect</button>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="winnersInfo win p-2">
            <a href="#">Purple, Rock, Scissors!</a>
            <div class="d-flex justify-content-between py-2">
              <p>From United States</p>
              <p>September 07, 2019</p>           
            </div>
            <div class="winnersIco d-flex justify-content-between">
              <div class="d-flex">
              <img src="../../assets/2 (1).jpg"/>
              <p class="px-1">By <a href="#">PRPLMARK</a></p>
            </div>
              <div>
                <button class="btn btn-primary">HM</button>
                <button class="btn btn-danger">DIV</button>
                <button class="btn btn-warning">SOLD</button>
              </div>
            </div>
          </div>
        </div>
        <!-- -->
        <div class="col-lg-3 col-md-6 my-2">
            <div class="winnersImg win">
              <img class="img-fluid" src="../../assets/7.jpg"/>
              <div class="imgLayer">
                <button class="btn m-1">09</button>
                <button class="btn m-1">collect</button>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="winnersInfo win p-2">
              <a href="#">Purple, Rock, Scissors!</a>
              <div class="d-flex justify-content-between py-2">
                <p>From United States</p>
                <p>September 07, 2019</p>           
              </div>
              <div class="winnersIco d-flex justify-content-between">
                <div class="d-flex">
                <img src="../../assets/2 (1).jpg"/>
                <p class="px-1">By <a href="#">PRPLMARK</a></p>
              </div>
                <div>
                  <button class="btn btn-primary">HM</button>
                  <button class="btn btn-danger">DIV</button>
                  <button class="btn btn-warning">SOLD</button>
                </div>
              </div>
            </div>
          </div>                      

  </div>
</div>
</div>
</div>

<!-- --------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------NOMINEES------------------------------------------------------ -->
<div class="nominees">
<div class="p-5">
  <span class="nomineesTitle">Nominees </span>
  <span>We need your vote!</span>
  <div class="py-4">
    <div class="row ">
      <!-- -->
      <div class="col-lg-3 col-md-6 my-2">
        <div class="nomineesImg win">
          <img class="img-fluid" src="../../assets/03-thumbnail.jpg"/>
          <div class="imgLayer">
            <button class="btn m-1">09</button>
            <button class="btn m-1">collect</button>
            <div class="clearfix"></div>
            <div class="mt-5 d-flex justify-content-center">
                <div>
                  <button style="color: black" class="btn btn-light">VOTE</button>
                </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="nomineesInfo win p-2">
          <a href="#">Purple, Rock, Scissors!</a>
          <div class="d-flex justify-content-between py-2">
            <p>From United States</p>
            <p>September 07, 2019</p>           
          </div>
          <div class="nomineesIco d-flex justify-content-between">
            <div class="d-flex">
            <img src="../../assets/2 (1).jpg"/>
            <p class="px-1">By <a href="#">PRPLMARK</a></p>
          </div>
          </div>
        </div>
      </div>
      <!-- -->
      <!-- -->
      <div class="col-lg-3 col-md-6 my-2">
          <div class="nomineesImg win">
            <img class="img-fluid" src="../../assets/04-thumbnail.jpg"/>
            <div class="imgLayer">
              <button class="btn m-1">09</button>
              <button class="btn m-1">collect</button>
              <div class="clearfix"></div>
              <div class="mt-5 d-flex justify-content-center">
                  <div>
                    <button style="color: black" class="btn btn-light">VOTE</button>
                  </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="nomineesInfo win p-2">
            <a href="#">Purple, Rock, Scissors!</a>
            <div class="d-flex justify-content-between py-2">
              <p>From United States</p>
              <p>September 07, 2019</p>           
            </div>
            <div class="nomineesIco d-flex justify-content-between">
              <div class="d-flex">
              <img src="../../assets/2 (1).jpg"/>
              <p class="px-1">By <a href="#">PRPLMARK</a></p>
            </div>
            </div>
          </div>
        </div>
        <!-- -->
      <!-- -->
      <div class="col-lg-3 col-md-6 my-2">
          <div class="nomineesImg win">
            <img class="img-fluid" src="../../assets/02-thumbnail.jpg"/>
            <div class="imgLayer">
              <button class="btn m-1">09</button>
              <button class="btn m-1">collect</button>
              <div class="clearfix"></div>
              <div class="mt-5 d-flex justify-content-center">
                  <div>
                    <button style="color: black" class="btn btn-light">VOTE</button>
                  </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="nomineesInfo win p-2">
            <a href="#">Purple, Rock, Scissors!</a>
            <div class="d-flex justify-content-between py-2">
              <p>From United States</p>
              <p>September 07, 2019</p>           
            </div>
            <div class="nomineesIco d-flex justify-content-between">
              <div class="d-flex">
              <img src="../../assets/2 (1).jpg"/>
              <p class="px-1">By <a href="#">PRPLMARK</a></p>
            </div>
            </div>
          </div>
        </div>
        <!-- -->
      <!-- -->
      <div class="col-lg-3 col-md-6 my-2">
          <div class="nomineesImg win">
            <img class="img-fluid" src="../../assets/03-thumbnail.jpg"/>
            <div class="imgLayer">
              <button class="btn m-1">09</button>
              <button class="btn m-1">collect</button>
              <div class="clearfix"></div>
              <div class="mt-5 d-flex justify-content-center">
                  <div>
                    <button style="color: black" class="btn btn-light">VOTE</button>
                  </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="nomineesInfo win p-2">
            <a href="#">Purple, Rock, Scissors!</a>
            <div class="d-flex justify-content-between py-2">
              <p>From United States</p>
              <p>September 07, 2019</p>           
            </div>
            <div class="nomineesIco d-flex justify-content-between">
              <div class="d-flex">
              <img src="../../assets/2 (1).jpg"/>
              <p class="px-1">By <a href="#">PRPLMARK</a></p>
            </div>
            </div>
          </div>
        </div>
        <!-- -->                          
    </div>
  </div>
</div>
</div>

<!-- --------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------Directory------------------------------------------------------ -->
<div class="nominees">
<div class="p-5">
<span class="nomineesTitle">Directory  </span>
<span>Find the Best Digital Agencies & Professionals</span>
<div class="py-4">
  <div class="row ">

    <!-- -->
    <div class="col-lg-3 col-md-6 my-2">
        <div class="nomineesImg win px-3">
          <p class="py-3">Professional Directory</p>
          <p style="font-weight: bolder ; font-size: 24px">Discover the best agencies and professionals in</p>
        </div>
        <div class="nomineesInfo win p-3">
          <div class="dropdown">
              <span style="color: #49c5b6 ; cursor:pointer ; font-size: 24px " class="dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Egypt</span>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Italy</a>
                <a class="dropdown-item" href="#">England</a>
                <a class="dropdown-item" href="#">China</a>
              </div>
            </div>

          <div class="nomineesIco py-4">
            
              <div>
                  <button class="btn btn-light">Discover</button>
              </div>
          
          </div>
        </div>
      </div>
      <!-- --> 

    <!-- -->
    <div class="col-lg-3 col-md-6 my-2">
        <div class="nomineesImg win">
          <img class="img-fluid" src="../../assets/03-thumbnail.jpg"/>
          <div class="imgLayer">
          </div>
        </div>
        <div class="nomineesInfo win p-2">
          <a href="#">Purple, Rock, Scissors!</a>
          <div class="d-flex justify-content-between py-2">
            <p>Added to <a href="#">Directory</a> from <span style="font-weight: bolder"> United States</span></p>         
          </div>
          <div class="nomineesIco">
            <div class="d-flex justify-content-between">
              <div>
                  <img src="../../assets/2 (3).jpg"/>
                  <img src="../../assets/5 (1).jpg"/>
                  <img src="../../assets/3 (5).jpg"/>
                  <img src="../../assets/3 (1).jpg"/>
              </div>
              <div>
                <button class="btn btn-light">Follow</button>
              </div>
          </div>
          </div>
        </div>
      </div>
      <!-- --> 
      
    <!-- -->
    <div class="col-lg-3 col-md-6 my-2">
        <div class="nomineesImg win">
          <img class="img-fluid" src="../../assets/01-thumbnail.jpg"/>
          <div class="imgLayer">
          </div>
        </div>
        <div class="nomineesInfo win p-2">
          <a href="#">Purple, Rock, Scissors!</a>
          <div class="d-flex justify-content-between py-2">
            <p>Added to <a href="#">Directory</a> from <span style="font-weight: bolder"> United States</span></p>         
          </div>
          <div class="nomineesIco">
            <div class="d-flex justify-content-between">
              <div>
                  <img src="../../assets/2 (3).jpg"/>
                  <img src="../../assets/5 (1).jpg"/>
                  <img src="../../assets/3 (5).jpg"/>
                  <img src="../../assets/3 (1).jpg"/>
              </div>
              <div>
                <button class="btn btn-light">Follow</button>
              </div>
          </div>
          </div>
        </div>
      </div>
      <!-- --> 

    <!-- -->
    <div class="col-lg-3 col-md-6 my-2">
        <div class="nomineesImg win">
          <img class="img-fluid" src="../../assets/06-thumbnail.jpg"/>
          <div class="imgLayer">
          </div>
        </div>
        <div class="nomineesInfo win p-2">
          <a href="#">Purple, Rock, Scissors!</a>
          <div class="d-flex justify-content-between py-2">
            <p>Added to <a href="#">Directory</a> from <span style="font-weight: bolder"> United States</span></p>         
          </div>
          <div class="nomineesIco">
            <div class="d-flex justify-content-between">
              <div>
                  <img src="../../assets/2 (3).jpg"/>
                  <img src="../../assets/5 (1).jpg"/>
                  <img src="../../assets/3 (5).jpg"/>
                  <img src="../../assets/3 (1).jpg"/>
              </div>
              <div>
                <button class="btn btn-light">Follow</button>
              </div>
          </div>
          </div>
        </div>
      </div>
      <!-- -->           
  </div>
</div>
</div>
</div>




<!-- --------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------Resources------------------------------------------------------ -->
<div class="nominees">
<div class="p-5">
  <span class="nomineesTitle">Resources   </span>
  <span>Stuff Digital Designers Love!</span>
  <div class="py-4">
    <div class="row ">
      <!-- -->
      <div class="col-lg-3 col-md-6 my-2">
          <div class="nomineesImg win">
            <img class="img-fluid" src="../../assets/19.png"/>
            <div class="imgLayer">
            </div>
          </div>
          <div class="nomineesInfo win p-2">
              <p class="resource">In the mind of Orkestra: Building a website that kills the traditional agency model.</p>
            <div class="d-flex justify-content-between py-2">
              <p>Added to <a href="#">Articles</a></p>
              <p>September 07, 2019</p>           
            </div>
            <div class="nomineesIco d-flex justify-content-between">
              <div class="d-flex">
              <img src="../../assets/2 (1).jpg"/>
              <p class="px-1">By <a href="#">PRPLMARK</a></p>
            </div>
            </div>
          </div>
        </div>
        <!-- -->
                  <!-- -->
      <div class="col-lg-3 col-md-6 my-2">
          <div class="nomineesImg win">
            <img class="img-fluid" src="../../assets/19.png"/>
            <div class="imgLayer">
            </div>
          </div>
          <div class="nomineesInfo win p-2">

              <p class="resource">In the mind of Orkestra: Building a website that kills the traditional agency model.</p>

            <div class="d-flex justify-content-between py-2">
                <p>Added to <a href="#">Articles</a></p>
              <p>September 07, 2019</p>           
            </div>
            <div class="nomineesIco d-flex justify-content-between">
              <div class="d-flex">
              <img src="../../assets/2 (1).jpg"/>
              <p class="px-1">By <a href="#">PRPLMARK</a></p>
            </div>
            </div>
          </div>
        </div>
        <!-- -->
                  <!-- -->
      <div class="col-lg-3 col-md-6 my-2">
          <div class="nomineesImg win">
            <img class="img-fluid" src="../../assets/19.png"/>
            <div class="imgLayer">
            </div>
          </div>
          <div class="nomineesInfo win p-2">
              <p class="resource">In the mind of Orkestra: Building a website that kills the traditional agency model.</p>
            <div class="d-flex justify-content-between py-2">
                <p>Added to <a href="#">Articles</a></p>
              <p>September 07, 2019</p>           
            </div>
            <div class="nomineesIco d-flex justify-content-between">
              <div class="d-flex">
              <img src="../../assets/2 (1).jpg"/>
              <p class="px-1">By <a href="#">PRPLMARK</a></p>
            </div>
            </div>
          </div>
        </div>
        <!-- -->
                  <!-- -->
      <div class="col-lg-3 col-md-6 my-2">
          <div class="nomineesImg win">
            <img class="img-fluid" src="../../assets/19.png"/>
            <div class="imgLayer">
            </div>
          </div>
          <div class="nomineesInfo win p-2">
            <p class="resource">In the mind of Orkestra: Building a website that kills the traditional agency model.</p>
            <div class="d-flex justify-content-between py-2">
                <p>Added to <a href="#">Articles</a></p>
              <p>September 07, 2019</p>           
            </div>
            <div class="nomineesIco d-flex justify-content-between">
              <div class="d-flex">
              <img src="../../assets/2 (1).jpg"/>
              <p class="px-1">By <a href="#">PRPLMARK</a></p>
            </div>
            </div>
          </div>
        </div>
        <!-- -->
                                      
    </div>
  </div>
</div>
</div>

<!-- --------------------------------------------------------------------------------------------------- -->