<section>
    <div class="p-5">
        <div class="d-flex justify-content-between">
            <div>
                <p>The awards for design, creativity and innovation on the Internet</p>
            </div>
            <div>
                <span>Next Conferences <a class="px-3" href="#"> New York</a> and <a class="px-3" href="#">Tokyo</a></span>
            </div>
        </div>
        <div class="my-4">

            <a class="pr-3" routerLink="professionalDierctory" routerLinkActive="footerLink">Directory</a>
            <a class="pr-3" routerLink="jobs" routerLinkActive="footerLink">Jobs</a>
            <a class="pr-3" routerLink="contact" routerLinkActive="footerLink">Contact Us</a>
            <a class="pr-3" routerLink="cookies" routerLinkActive="footerLink">Cookies Policy</a>
            <a class="pr-3" routerLink="terms" routerLinkActive="footerLink">Legal Terms</a>
            <a class="pr-3" routerLink="policy" routerLinkActive="footerLink"> Privacy Policy</a>
            
        </div>
        <div>   
            <span>Private Cloud by <a class="px-2" href="#">Stackscale</a></span>
        </div>

    </div>

</section>