.title
{
    font-size: 35px;
    color: black;
    font-weight: bolder;
}
.aboutUsHeader span
{
    font-weight: bolder;    
}
.about-img
{
    background-image: url(src\assets\certificate.jpg);
    background-size: cover;
    height: 350px;
}
.title-about
{
    border-bottom: 2px solid black;
    width: 8%;
}
.headTitle
{
    border-bottom: 2px solid black;
    font-weight: bolder;
    font-size: 18px;

}
.aboutJury 
{
    cursor: pointer;
}
.aboutJury:hover
{
    color: cornflowerblue;
}

