<section class="submit p-5 ">
        <div class="text-center">
            <p style="font-weight: bolder ; font-size: 36px">Sign up to the exclusive Awwwards directory</p>
    
            <p>Join the most important club on the Internet. The place where the top web designers, graphic designers, art directors, illustrators, developers and marketers come to play.</p>
        </div>  
        <div class="row">
            <!---->
            <div class="col-lg-4 col-md-6 ">
                <div class="m-2 p-4" style="background-color: white">
                    <div class="text-center">
                        <p style="font-weight: bolder ; font-size: 24px">PROFESSIONAL</p>
                        <p>Annual Submission</p>
                        <p style="font-weight: bolder ; font-size: 48px">165</p>
                        <p>USD / YEARLY</p>
                    </div>
                        <button class="btn btn-info w-100 my-3 py-2">Submit</button>
    
                        <p class="mb-5">Aimed at round-the-clock professionals with multiple projects to submit throughout the course of the year.<span style="font-weight: bolder"> Attract new clients, recruit top talent and make important business connections</span> in our exclusive members directory.</p>
    
                        <ul class="mb-5 mt-3">
    
                            <li>1 free submission</li>
                            <li>20% off future submissions</li>
                            <li>20% off future job ads</li>
                            <li>Featured profile in your country</li>
                            <li>Listed in 3 categories</li>
                        </ul>
                </div>
    
            </div>
            <!---->
    
    
            <!---->
            <div class="col-lg-4 col-md-6 ">
                    <div class="m-2 p-4" style="background-color: white">
                        <div class="text-center">
                            <p style="font-weight: bolder ; font-size: 24px">INTERNATIONAL</p>
                            <p>Annual Submission</p>
                            <p style="font-weight: bolder ; font-size: 48px">1750</p>
                            <p>USD / YEARLY</p>
                        </div>
                            <button class="btn btn-info w-100 my-3 py-2">Submit</button>
        
                            <p>Aimed at <span style="font-weight: bolder">large, international agencies and organizations with extensive client portfolios and high volumes of incredible web projects.</span>A 360º solution geared towards promoting your portfolio, recruiting industry experts and expanding your business.</p>
        
                            <ul>
        
                                <li>1 free submission</li>
                                <li>50% off future submissions</li>
                                <li>50% off future job ads</li>
                                <li>Featured profile worldwide</li>
                                <li>Listed in 5 categories</li>
                                <li>Personal Assistance</li>
                                <li>Featured on Home</li>
                                
                            </ul>
                    </div>
        
                </div>
                <!---->
                <div class="col-lg-4 col-md-6 submitImg">
    
                    <div class="p-4 img-Info text-center ">
    
                        <p>Winning an Awwwards SOTD for us, a small agency in a big world, is a chance to really get out there and be seen by people, by new clients and brands</p>
                        <div class="line m-auto "></div>
                        <p>Jakob Kahlen</p>
                        <p>Creative director at <a href="#">Beoplay</a></p>
                    
                    </div>
    
    
                </div>
    
        </div>
    
    </section>