<div class="winners">
    <div class="p-5">
      <span class="winnersTitle">Sites of the day </span>
      <span>Previous Winners</span>
      <div class="py-4">
        <div class="row ">
          <div class="col-lg-3 col-md-6 my-2">
            <div class="winnersImg win">
              <img class="img-fluid" src="../../assets/05-thumbnail.jpg"/>
              <div class="imgLayer">
                <button class="btn m-1">09</button>
                <button class="btn m-1">collect</button>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="winnersInfo win p-2">
              <a href="#">Purple, Rock, Scissors!</a>
              <div class="d-flex justify-content-between py-2">
                <p>From United States</p>
                <p>September 07, 2019</p>           
              </div>
              <div class="winnersIco d-flex justify-content-between">
                <div class="d-flex">
                <img src="../../assets/2 (1).jpg"/>
                <p class="px-1">By <a href="#">PRPLMARK</a></p>
              </div>
                <div>
                  <button class="btn btn-primary">HM</button>
                  <button class="btn btn-danger">DIV</button>
                  <button class="btn btn-warning">SOLD</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 my-2 ">
              <div class="winnersImg win">
                <img class="img-fluid" src="../../assets/7.jpg"/>
                <div class="imgLayer">
                  <button class="btn m-1">09</button>
                  <button class="btn m-1">collect</button>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="winnersInfo win p-2">
                <a href="#">Purple, Rock, Scissors!</a>
                <div class="d-flex justify-content-between py-2">
                  <p>From United States</p>
                  <p>September 07, 2019</p>           
                </div>
                <div class="winnersIco d-flex justify-content-between">
                  <div class="d-flex">
                  <img src="../../assets/2 (1).jpg"/>
                  <p class="px-1">By <a href="#">PRPLMARK</a></p>
                </div>
                  <div>
                    <button class="btn btn-primary">HM</button>
                    <button class="btn btn-danger">DIV</button>
                    <button class="btn btn-warning">SOLD</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 my-2">
                <div class="winnersImg win">
                  <img class="img-fluid" src="../../assets/05-thumbnail.jpg"/>
                  <div class="imgLayer">
                    <button class="btn m-1">09</button>
                    <button class="btn m-1">collect</button>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="winnersInfo win p-2">
                  <a href="#">Purple, Rock, Scissors!</a>
                  <div class="d-flex justify-content-between py-2">
                    <p>From United States</p>
                    <p>September 07, 2019</p>           
                  </div>
                  <div class="winnersIco d-flex justify-content-between">
                    <div class="d-flex">
                    <img src="../../assets/2 (1).jpg"/>
                    <p class="px-1">By <a href="#">PRPLMARK</a></p>
                  </div>
                    <div>
                      <button class="btn btn-primary">HM</button>
                      <button class="btn btn-danger">DIV</button>
                      <button class="btn btn-warning">SOLD</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 my-2">
                  <div class="winnersImg win">
                    <img class="img-fluid" src="../../assets/7.jpg"/>
                    <div class="imgLayer">
                      <button class="btn m-1">09</button>
                      <button class="btn m-1">collect</button>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="winnersInfo win p-2">
                    <a href="#">Purple, Rock, Scissors!</a>
                    <div class="d-flex justify-content-between py-2">
                      <p>From United States</p>
                      <p>September 07, 2019</p>           
                    </div>
                    <div class="winnersIco d-flex justify-content-between">
                      <div class="d-flex">
                      <img src="../../assets/2 (1).jpg"/>
                      <p class="px-1">By <a href="#">PRPLMARK</a></p>
                    </div>
                      <div>
                        <button class="btn btn-primary">HM</button>
                        <button class="btn btn-danger">DIV</button>
                        <button class="btn btn-warning">SOLD</button>
                      </div>
                    </div>
                  </div>
                </div>                      

<!-- --------------------------------------------------------- -->
<div class="col-lg-3 col-md-6 my-2">
    <div class="winnersImg win">
      <img class="img-fluid" src="../../assets/05-thumbnail.jpg"/>
      <div class="imgLayer">
        <button class="btn m-1">09</button>
        <button class="btn m-1">collect</button>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="winnersInfo win p-2">
      <a href="#">Purple, Rock, Scissors!</a>
      <div class="d-flex justify-content-between py-2">
        <p>From United States</p>
        <p>September 07, 2019</p>           
      </div>
      <div class="winnersIco d-flex justify-content-between">
        <div class="d-flex">
        <img src="../../assets/2 (1).jpg"/>
        <p class="px-1">By <a href="#">PRPLMARK</a></p>
      </div>
        <div>
          <button class="btn btn-primary">HM</button>
          <button class="btn btn-danger">DIV</button>
          <button class="btn btn-warning">SOLD</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 my-2 ">
      <div class="winnersImg win">
        <img class="img-fluid" src="../../assets/7.jpg"/>
        <div class="imgLayer">
          <button class="btn m-1">09</button>
          <button class="btn m-1">collect</button>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="winnersInfo win p-2">
        <a href="#">Purple, Rock, Scissors!</a>
        <div class="d-flex justify-content-between py-2">
          <p>From United States</p>
          <p>September 07, 2019</p>           
        </div>
        <div class="winnersIco d-flex justify-content-between">
          <div class="d-flex">
          <img src="../../assets/2 (1).jpg"/>
          <p class="px-1">By <a href="#">PRPLMARK</a></p>
        </div>
          <div>
            <button class="btn btn-primary">HM</button>
            <button class="btn btn-danger">DIV</button>
            <button class="btn btn-warning">SOLD</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 my-2">
        <div class="winnersImg win">
          <img class="img-fluid" src="../../assets/05-thumbnail.jpg"/>
          <div class="imgLayer">
            <button class="btn m-1">09</button>
            <button class="btn m-1">collect</button>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="winnersInfo win p-2">
          <a href="#">Purple, Rock, Scissors!</a>
          <div class="d-flex justify-content-between py-2">
            <p>From United States</p>
            <p>September 07, 2019</p>           
          </div>
          <div class="winnersIco d-flex justify-content-between">
            <div class="d-flex">
            <img src="../../assets/2 (1).jpg"/>
            <p class="px-1">By <a href="#">PRPLMARK</a></p>
          </div>
            <div>
              <button class="btn btn-primary">HM</button>
              <button class="btn btn-danger">DIV</button>
              <button class="btn btn-warning">SOLD</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 my-2">
          <div class="winnersImg win">
            <img class="img-fluid" src="../../assets/7.jpg"/>
            <div class="imgLayer">
              <button class="btn m-1">09</button>
              <button class="btn m-1">collect</button>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="winnersInfo win p-2">
            <a href="#">Purple, Rock, Scissors!</a>
            <div class="d-flex justify-content-between py-2">
              <p>From United States</p>
              <p>September 07, 2019</p>           
            </div>
            <div class="winnersIco d-flex justify-content-between">
              <div class="d-flex">
              <img src="../../assets/2 (1).jpg"/>
              <p class="px-1">By <a href="#">PRPLMARK</a></p>
            </div>
              <div>
                <button class="btn btn-primary">HM</button>
                <button class="btn btn-danger">DIV</button>
                <button class="btn btn-warning">SOLD</button>
              </div>
            </div>
          </div>
        </div>                     
<!-- --------------------------------------------------------- -->
<!-- --------------------------------------------------------- -->
<div class="col-lg-3 col-md-6 my-2">
    <div class="winnersImg win">
      <img class="img-fluid" src="../../assets/05-thumbnail.jpg"/>
      <div class="imgLayer">
        <button class="btn m-1">09</button>
        <button class="btn m-1">collect</button>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="winnersInfo win p-2">
      <a href="#">Purple, Rock, Scissors!</a>
      <div class="d-flex justify-content-between py-2">
        <p>From United States</p>
        <p>September 07, 2019</p>           
      </div>
      <div class="winnersIco d-flex justify-content-between">
        <div class="d-flex">
        <img src="../../assets/2 (1).jpg"/>
        <p class="px-1">By <a href="#">PRPLMARK</a></p>
      </div>
        <div>
          <button class="btn btn-primary">HM</button>
          <button class="btn btn-danger">DIV</button>
          <button class="btn btn-warning">SOLD</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 my-2 ">
      <div class="winnersImg win">
        <img class="img-fluid" src="../../assets/7.jpg"/>
        <div class="imgLayer">
          <button class="btn m-1">09</button>
          <button class="btn m-1">collect</button>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="winnersInfo win p-2">
        <a href="#">Purple, Rock, Scissors!</a>
        <div class="d-flex justify-content-between py-2">
          <p>From United States</p>
          <p>September 07, 2019</p>           
        </div>
        <div class="winnersIco d-flex justify-content-between">
          <div class="d-flex">
          <img src="../../assets/2 (1).jpg"/>
          <p class="px-1">By <a href="#">PRPLMARK</a></p>
        </div>
          <div>
            <button class="btn btn-primary">HM</button>
            <button class="btn btn-danger">DIV</button>
            <button class="btn btn-warning">SOLD</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 my-2">
        <div class="winnersImg win">
          <img class="img-fluid" src="../../assets/05-thumbnail.jpg"/>
          <div class="imgLayer">
            <button class="btn m-1">09</button>
            <button class="btn m-1">collect</button>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="winnersInfo win p-2">
          <a href="#">Purple, Rock, Scissors!</a>
          <div class="d-flex justify-content-between py-2">
            <p>From United States</p>
            <p>September 07, 2019</p>           
          </div>
          <div class="winnersIco d-flex justify-content-between">
            <div class="d-flex">
            <img src="../../assets/2 (1).jpg"/>
            <p class="px-1">By <a href="#">PRPLMARK</a></p>
          </div>
            <div>
              <button class="btn btn-primary">HM</button>
              <button class="btn btn-danger">DIV</button>
              <button class="btn btn-warning">SOLD</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 my-2">
          <div class="winnersImg win">
            <img class="img-fluid" src="../../assets/7.jpg"/>
            <div class="imgLayer">
              <button class="btn m-1">09</button>
              <button class="btn m-1">collect</button>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="winnersInfo win p-2">
            <a href="#">Purple, Rock, Scissors!</a>
            <div class="d-flex justify-content-between py-2">
              <p>From United States</p>
              <p>September 07, 2019</p>           
            </div>
            <div class="winnersIco d-flex justify-content-between">
              <div class="d-flex">
              <img src="../../assets/2 (1).jpg"/>
              <p class="px-1">By <a href="#">PRPLMARK</a></p>
            </div>
              <div>
                <button class="btn btn-primary">HM</button>
                <button class="btn btn-danger">DIV</button>
                <button class="btn btn-warning">SOLD</button>
              </div>
            </div>
          </div>
        </div>                     
<!-- --------------------------------------------------------- -->
<!-- --------------------------------------------------------- -->
<div class="col-lg-3 col-md-6 my-2">
    <div class="winnersImg win">
      <img class="img-fluid" src="../../assets/05-thumbnail.jpg"/>
      <div class="imgLayer">
        <button class="btn m-1">09</button>
        <button class="btn m-1">collect</button>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="winnersInfo win p-2">
      <a href="#">Purple, Rock, Scissors!</a>
      <div class="d-flex justify-content-between py-2">
        <p>From United States</p>
        <p>September 07, 2019</p>           
      </div>
      <div class="winnersIco d-flex justify-content-between">
        <div class="d-flex">
        <img src="../../assets/2 (1).jpg"/>
        <p class="px-1">By <a href="#">PRPLMARK</a></p>
      </div>
        <div>
          <button class="btn btn-primary">HM</button>
          <button class="btn btn-danger">DIV</button>
          <button class="btn btn-warning">SOLD</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 my-2 ">
      <div class="winnersImg win">
        <img class="img-fluid" src="../../assets/7.jpg"/>
        <div class="imgLayer">
          <button class="btn m-1">09</button>
          <button class="btn m-1">collect</button>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="winnersInfo win p-2">
        <a href="#">Purple, Rock, Scissors!</a>
        <div class="d-flex justify-content-between py-2">
          <p>From United States</p>
          <p>September 07, 2019</p>           
        </div>
        <div class="winnersIco d-flex justify-content-between">
          <div class="d-flex">
          <img src="../../assets/2 (1).jpg"/>
          <p class="px-1">By <a href="#">PRPLMARK</a></p>
        </div>
          <div>
            <button class="btn btn-primary">HM</button>
            <button class="btn btn-danger">DIV</button>
            <button class="btn btn-warning">SOLD</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 my-2">
        <div class="winnersImg win">
          <img class="img-fluid" src="../../assets/05-thumbnail.jpg"/>
          <div class="imgLayer">
            <button class="btn m-1">09</button>
            <button class="btn m-1">collect</button>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="winnersInfo win p-2">
          <a href="#">Purple, Rock, Scissors!</a>
          <div class="d-flex justify-content-between py-2">
            <p>From United States</p>
            <p>September 07, 2019</p>           
          </div>
          <div class="winnersIco d-flex justify-content-between">
            <div class="d-flex">
            <img src="../../assets/2 (1).jpg"/>
            <p class="px-1">By <a href="#">PRPLMARK</a></p>
          </div>
            <div>
              <button class="btn btn-primary">HM</button>
              <button class="btn btn-danger">DIV</button>
              <button class="btn btn-warning">SOLD</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 my-2">
          <div class="winnersImg win">
            <img class="img-fluid" src="../../assets/7.jpg"/>
            <div class="imgLayer">
              <button class="btn m-1">09</button>
              <button class="btn m-1">collect</button>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="winnersInfo win p-2">
            <a href="#">Purple, Rock, Scissors!</a>
            <div class="d-flex justify-content-between py-2">
              <p>From United States</p>
              <p>September 07, 2019</p>           
            </div>
            <div class="winnersIco d-flex justify-content-between">
              <div class="d-flex">
              <img src="../../assets/2 (1).jpg"/>
              <p class="px-1">By <a href="#">PRPLMARK</a></p>
            </div>
              <div>
                <button class="btn btn-primary">HM</button>
                <button class="btn btn-danger">DIV</button>
                <button class="btn btn-warning">SOLD</button>
              </div>
            </div>
          </div>
        </div>                     
<!-- --------------------------------------------------------- -->                    
        </div>
      </div>
    </div>
  </div>